{
	"presets": [
		"@babel/preset-env"
	],
	"plugins": [
		"babel-plugin-transform-es3-member-expression-literals",
		"babel-plugin-transform-es3-property-literals",
		"babel-plugin-transform-es5-property-mutators"
	]
}
